
*.pth
05. Neuron, OOP/.ipynb_checkpoints/[seminar]neuron_logloss-checkpoint.ipynb
05. Neuron, OOP/.ipynb_checkpoints/[seminar]neuron_logloss-checkpoint.ipynb
05. Neuron, OOP/.ipynb_checkpoints/[seminar]neuron_logloss-checkpoint.ipynb
05. Neuron, OOP/.ipynb_checkpoints/[seminar]neuron_logloss-checkpoint.ipynb
[3]ml_pandas_knn/matplotlib/.ipynb_checkpoints/[seminar]matplotlib-checkpoint.ipynb
[3]ml_pandas_knn/pandas/.ipynb_checkpoints/[hw_solution]pandas-checkpoint.ipynb
